#content {
    padding: 4vw;
    padding-top: 5.5vh;
}

#bg-header {
    background-image: url('./../../../assets/background.svg');
    height: 38vh;
    width: 100vw;
    background-position: bottom;
}

#logo {
    height: 1.85rem;
}

#user {
    border-radius: 50%;
    height: 13.5vw;
    width: 13.5vw;
    object-fit: cover;
    border: 2px solid #ED4D77;
}

.username {
    font-style: italic;
    font-weight: 100;
    color: #ffffff;
}

.username #user-name {
    font-size: 1.6rem;
}

.username small {
    font-size: 1.6rem;
}

.username hr {
    width: 6vw;
    border: none;
    height: 2px;
}

#feed-title {
    font-size: 1.25rem;
    font-weight: 400;
}