.space-border {
  padding-right: 4vw;
  padding-left: 4vw;
}

.content {
    height: 100vh;
}

.user-bar {
  padding-top: 3vh;
  background-image: url('./../../../assets/background.svg');
  height: 11vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: bottom;

  position: fixed;
  top: 0;
  z-index: 999;
}

.title {
  line-height: 18px;
  font-size: 1.2rem;
  font-style: italic;
}

.w-space{
    width: 24px;
}

input {
    width: 90%;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 400;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none;
}

input:focus, textarea:focus, select:focus{
    box-shadow: none;
}

.card {
    margin-top: 14vh;
}

.form-inline small {
    font-style: italic;
    font-weight: normal;
}

textarea, input {
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    opacity: 40%;
    line-height: 1.2rem;
}

.none::-webkit-resizer {
    display: none;
}

hr {
    height: 2px;
    color: black;
    opacity: 8%;
}

.char-limit {
    font-size: 0.8rem;
    font-weight: 500;
    font-style: italic;
    color: rgba(0, 0, 0, 0.4);
    text-align: right;
}