/* Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300&display=swap');
/* Ícones */
@import '~material-icons/iconfont/material-icons.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

body {
  background-color: #F4F4F4;
}


.color-pink {
  color: #ED4D77;
}

.bg-pink {
  background-color: #ED4D77;
}

.card {
  border: 0 solid black;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 3px;

  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(237, 77, 119, 0.4);
}

.mat-chip.mat-standard-chip {
  background-color: rgba(237, 77, 119, 0.08);
  border-radius: 4px;

  font-size: 0.75rem;
  font-weight: 600;
  font-style: italic;
  color: #ED4D77;
}

.mat-chip.mat-standard-chip .close {
  font-size: 0.85rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
  opacity: 0;
}